{% extends "layout.twig" %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Bryton fit upload</h1>

        <p class="lead">Upload your fit activity from a <strong>Bryton</strong> device to <strong>RunKeeper</strong>.</p>

        <p>
          <a href='https://runkeeper.com/apps/authorize?client_id={{ app.config.client.id|escape }}&amp;redirect_uri={{ app.config.url.callback|escape }}&amp;response_type=code' class="btn btn-primary btn-lg" role="button">
              Login with RunKeeper
          </a>
        </p>
    </div>
{% endblock %}