{% extends "layout.twig" %}

{% block content %}

    <div class="row">
        <div class="col-10 offset-1 border-bottom">
            <h3>Upload result</h3>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-10 offset-1">
{% if result == 'success' %}
            <div class="alert alert-success" role="alert">Your activity upload <strong>pass</strong> : {{ message }}</div>
{% else %}
            <div class="alert alert-danger" role="alert">Your activity upload <strong>fail</strong> : {{ message }}</div>
{% endif %}

{% if cmdOutputText is defined %}
            <div class="card">
                <div class="card-header">Console output</div>
                <div class="card-body">
                    <samp>{{ cmdOutputText|escape|nl2br }}</samp>
                </div>
            </div>
{% endif %}
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-10 offset-1">
            <p class="text-center">
                <a href="/upload" class="btn btn-primary" role="button"><i class="fa fa-repeat"></i> Upload another file</a>
            </p>
        </div>
    </div>

{% endblock %}


