{% extends "layout.twig" %}

{% block content %}

    <div class="row">
        <div class="col-10 offset-1 border-bottom">
            <h3>Upload form</h3>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-2 offset-1 text-center">
            <figure class="figure">
              <img src="{{ userProfile.medium_picture|escape }}" class="figure-img img-fluid rounded" alt="{{ userProfile.name|escape }}">
                <figcaption class="figure-caption"><a href="{{ userProfile.profile|escape }}" target="_blank">{{ userProfile.name }}</a></figcaption>
            </figure>
        </div>

        <div class="col-8">
            <form method="post" enctype="multipart/form-data" name="uploadFitForm" id="uploadFitForm">
                <input type="hidden" name="_csrf_token" value="{{ csrfTocken|escape }}">
                <div class="form-group">
                    <label for="fitFile">Fitness activity</label>
                    <input type="file" id="fitFile" name="fitFile" class="form-control-file">
                    <small class="form-text text-muted">.fit file from bryton cycling computer</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="formVerboseOutput" name="output" value="verbose">
                    <label class="form-check-label" for="formVerboseOutput">Verbose output</label>
                </div>
                <button type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 1 0V6.707l1.146 1.147a.5.5 0 0 0 .708-.708z"/>
                    </svg> Upload
                </button>
            </form>
        </div>
    </div>
{% endblock %}
